<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>借书成功</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <h1>借书成功!</h1>
    <p>点击下方按钮返回主页面</p>
    <p><a class="btn btn-primary btn-lg" href="/user" role="button">返回主页面</a></p>
</div>
</body>
</html>